<!Doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Productos </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/api/productos">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>


                    <li class="nav-item">
                        <a type="submit" class="nav-link" href="/api/signup" onclick="logout()" tabindex="5">Signup</a>

                    </li>
                    <li class="nav-item">
                        <a type="submit" class="nav-link" onclick="logout()" tabindex="5">Logout</a>

                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <div class="container">
        <% user.nombre %>
            <table class="table table-bordered table-striped text-center mt-4">
                <thead>
                    <tr class="bg-primary text-white">
                        <th scope="col">Email</th>
                        <th scope="col">Pedido</th>
                        <th scope="col">Comprar</th>

                    </tr>
                </thead>
                <tbody>
                    <% carrito.forEach((carritos)=> { %>
                        <tr>
                            <td>
                                <%= carritos.email %>
                            </td>
                            <td>
                                <%=carritos.pedido %>
                            </td>
                            <td>
                                <a href="#" onclick="comprar()" id="prueba" class="btn btn-primary">Comprar</a>
                            </td>



                        </tr>
                        <% }) %>
                </tbody>
            </table>




            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
                crossorigin="anonymous"></script>

            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script>
                function redireccionar(pagina) {
                    location.href = pagina;
                }

                function logout() {
                    redireccionar('/api/auth/logout');
                }

                async function comprar() {
                    Swal.fire({
                        title: 'Estas Seguro?',
                        text: "No te falta nada mas?",
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Comprarlo!'
                    }).then(async (result) => {
                        if (result.isConfirmed) {
                            const response = await fetch('http://localhost:8080/api/carritos', {
                                method: 'DELETE',
                                headers: {
                                    'Content-type': 'application/json'
                                },
                            })


                            Swal.fire(
                                'Comprado!',
                                'te llegara un mensaje al whatsapp.',
                                'success'
                            )
                            location.reload()
                        }






                    })



                }


            </script>


</body>

</html>