<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>ERROR, LA PAGINA NO EXISTE</h1>


    <a href="/api/signup" class="boton">SIGNUP</a>
    <a href="/api/auth/signin" class="boton">SIGNIN</a>

</body>

</html>